body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u270 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  position:absolute;
  left:30px;
  top:96px;
  width:546px;
  height:970px;
}
#u272 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u273 {
  position:absolute;
  left:114px;
  top:156px;
  width:32px;
  height:32px;
}
#u274 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:8px;
}
#u275 {
  position:absolute;
  left:219px;
  top:652px;
  width:167px;
  height:8px;
}
#u276 {
  position:absolute;
  left:2px;
  top:-4px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:6px;
}
#u277 {
  position:absolute;
  left:29px;
  top:670px;
  width:546px;
  height:6px;
}
#u278 {
  position:absolute;
  left:2px;
  top:-5px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#999999;
}
#u280 {
  position:absolute;
  left:62px;
  top:686px;
  width:122px;
  height:26px;
  font-size:22px;
  color:#999999;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u282 {
  position:absolute;
  left:824px;
  top:738px;
  width:92px;
  height:22px;
  opacity:0.899999976158142;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u284 {
  position:absolute;
  left:62px;
  top:722px;
  width:480px;
  height:218px;
  font-size:22px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:19px;
}
#u286 {
  position:absolute;
  left:29px;
  top:950px;
  width:546px;
  height:19px;
}
#u287 {
  position:absolute;
  left:2px;
  top:2px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u289 {
  position:absolute;
  left:155px;
  top:686px;
  width:191px;
  height:26px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#999999;
}
#u292 {
  position:absolute;
  left:62px;
  top:980px;
  width:122px;
  height:26px;
  font-size:22px;
  color:#999999;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u295 {
  position:absolute;
  left:172px;
  top:980px;
  width:202px;
  height:26px;
  font-size:22px;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#999999;
}
#u298 {
  position:absolute;
  left:62px;
  top:1029px;
  width:122px;
  height:26px;
  font-size:22px;
  color:#999999;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u301 {
  position:absolute;
  left:172px;
  top:1029px;
  width:202px;
  height:26px;
  font-size:22px;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:533px;
}
#u303 {
  position:absolute;
  left:39px;
  top:109px;
  width:524px;
  height:533px;
}
#u304 {
  position:absolute;
  left:2px;
  top:258px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u305 {
  position:absolute;
  left:60px;
  top:129px;
  width:32px;
  height:32px;
}
#u306 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
