body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:614px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u404 {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u405 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u406 {
  position:absolute;
  left:30px;
  top:96px;
  width:546px;
  height:970px;
}
#u407 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
}
#u408 {
  position:absolute;
  left:30px;
  top:96px;
  width:546px;
  height:970px;
}
#u409 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:99px;
}
#u410 {
  position:absolute;
  left:253px;
  top:900px;
  width:101px;
  height:99px;
}
#u411 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u413 {
  position:absolute;
  left:30px;
  top:96px;
  width:546px;
  height:84px;
}
#u414 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u415 {
  position:absolute;
  left:232px;
  top:136px;
  width:142px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u417 {
  position:absolute;
  left:42px;
  top:134px;
  width:32px;
  height:32px;
}
#u418 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
