body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u228 {
  position:absolute;
  left:-2px;
  top:0px;
  width:614px;
  height:1205px;
}
#u229 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:28px;
  top:96px;
  width:546px;
  height:970px;
}
#u231 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u232 {
  position:absolute;
  left:112px;
  top:156px;
  width:32px;
  height:32px;
}
#u233 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:534px;
}
#u234 {
  position:absolute;
  left:37px;
  top:108px;
  width:526px;
  height:534px;
}
#u235 {
  position:absolute;
  left:2px;
  top:259px;
  width:522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:8px;
}
#u236 {
  position:absolute;
  left:37px;
  top:652px;
  width:167px;
  height:8px;
}
#u237 {
  position:absolute;
  left:2px;
  top:-4px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:6px;
}
#u238 {
  position:absolute;
  left:27px;
  top:670px;
  width:546px;
  height:6px;
}
#u239 {
  position:absolute;
  left:2px;
  top:-5px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#999999;
}
#u241 {
  position:absolute;
  left:60px;
  top:686px;
  width:122px;
  height:26px;
  font-size:22px;
  color:#999999;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u243 {
  position:absolute;
  left:746px;
  top:674px;
  width:92px;
  height:22px;
  opacity:0.899999976158142;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u245 {
  position:absolute;
  left:1186px;
  top:674px;
  width:92px;
  height:22px;
  opacity:0.899999976158142;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u247 {
  position:absolute;
  left:60px;
  top:722px;
  width:480px;
  height:218px;
  font-size:22px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:19px;
}
#u249 {
  position:absolute;
  left:27px;
  top:950px;
  width:546px;
  height:19px;
}
#u250 {
  position:absolute;
  left:2px;
  top:2px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u252 {
  position:absolute;
  left:153px;
  top:686px;
  width:191px;
  height:26px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#999999;
}
#u255 {
  position:absolute;
  left:60px;
  top:980px;
  width:122px;
  height:26px;
  font-size:22px;
  color:#999999;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u258 {
  position:absolute;
  left:170px;
  top:980px;
  width:202px;
  height:26px;
  font-size:22px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#999999;
}
#u261 {
  position:absolute;
  left:60px;
  top:1029px;
  width:122px;
  height:26px;
  font-size:22px;
  color:#999999;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u264 {
  position:absolute;
  left:170px;
  top:1029px;
  width:202px;
  height:26px;
  font-size:22px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u266 {
  position:absolute;
  left:58px;
  top:129px;
  width:32px;
  height:32px;
}
#u267 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
