body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:836px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u457 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u458 {
  position:absolute;
  left:-2px;
  top:0px;
  width:614px;
  height:1205px;
}
#u459 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u460 {
  position:absolute;
  left:28px;
  top:96px;
  width:546px;
  height:970px;
}
#u461 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u462 {
  position:absolute;
  left:112px;
  top:156px;
  width:32px;
  height:32px;
}
#u463 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:534px;
}
#u464 {
  position:absolute;
  left:37px;
  top:108px;
  width:526px;
  height:534px;
}
#u465 {
  position:absolute;
  left:2px;
  top:259px;
  width:522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:8px;
}
#u466 {
  position:absolute;
  left:37px;
  top:652px;
  width:167px;
  height:8px;
}
#u467 {
  position:absolute;
  left:2px;
  top:-4px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:6px;
}
#u468 {
  position:absolute;
  left:27px;
  top:670px;
  width:546px;
  height:6px;
}
#u469 {
  position:absolute;
  left:2px;
  top:-5px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#999999;
}
#u471 {
  position:absolute;
  left:60px;
  top:686px;
  width:122px;
  height:26px;
  font-size:22px;
  color:#999999;
}
#u472 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u473 {
  position:absolute;
  left:746px;
  top:674px;
  width:92px;
  height:22px;
  opacity:0.899999976158142;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u475 {
  position:absolute;
  left:60px;
  top:722px;
  width:480px;
  height:218px;
  font-size:22px;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:19px;
}
#u477 {
  position:absolute;
  left:27px;
  top:950px;
  width:546px;
  height:19px;
}
#u478 {
  position:absolute;
  left:2px;
  top:2px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u480 {
  position:absolute;
  left:153px;
  top:686px;
  width:191px;
  height:26px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#999999;
}
#u483 {
  position:absolute;
  left:60px;
  top:980px;
  width:122px;
  height:26px;
  font-size:22px;
  color:#999999;
}
#u484 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u486 {
  position:absolute;
  left:170px;
  top:980px;
  width:202px;
  height:26px;
  font-size:22px;
}
#u487 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#999999;
}
#u489 {
  position:absolute;
  left:60px;
  top:1029px;
  width:122px;
  height:26px;
  font-size:22px;
  color:#999999;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u492 {
  position:absolute;
  left:170px;
  top:1029px;
  width:202px;
  height:26px;
  font-size:22px;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u494 {
  position:absolute;
  left:58px;
  top:129px;
  width:32px;
  height:32px;
}
#u495 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
