body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:667px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u136 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:30px;
  top:96px;
  width:546px;
  height:970px;
}
#u138 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:149px;
}
#u139 {
  position:absolute;
  left:235px;
  top:463px;
  width:136px;
  height:139px;
}
#u140 {
  position:absolute;
  left:2px;
  top:62px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#BFCDDA;
}
#u142 {
  position:absolute;
  left:235px;
  top:643px;
  width:432px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#BFCDDA;
}
#u143 {
  position:absolute;
  left:0px;
  top:3px;
  width:432px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u145 {
  position:absolute;
  left:30px;
  top:96px;
  width:546px;
  height:84px;
}
#u146 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u147 {
  position:absolute;
  left:232px;
  top:138px;
  width:142px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u149 {
  position:absolute;
  left:42px;
  top:134px;
  width:32px;
  height:32px;
}
#u150 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:8px;
}
#u151 {
  position:absolute;
  left:30px;
  top:180px;
  width:546px;
  height:8px;
}
#u152 {
  position:absolute;
  left:2px;
  top:-4px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  position:absolute;
  left:92px;
  top:443px;
  width:430px;
  height:276px;
}
#u155 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u156 {
  position:absolute;
  left:92px;
  top:631px;
  width:430px;
  height:1px;
}
#u157 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u158 {
  position:absolute;
  left:92px;
  top:631px;
  width:430px;
  height:1px;
}
#u159 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u160 {
  position:absolute;
  left:242px;
  top:665px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u162 {
  position:absolute;
  left:227px;
  top:463px;
  width:157px;
  height:50px;
  font-size:22px;
  text-align:center;
}
#u163 {
  position:absolute;
  left:0px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u164 {
  position:absolute;
  left:113px;
  top:547px;
  width:380px;
  height:74px;
  font-size:22px;
  text-align:center;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
